---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
---
<MainLayout title="Titel">
	<section class="">
		<div class="desktop:h-screen">
			<img class="object-scale-down max-h-full m-auto mr-0" src="/baggrund.png" alt="">
		</div>
		<div class="text-[#1A3660] text-xs laptop:text-base desktop:text-2xl tablet:ml-10 desktop:ml-36 absolute top-2 left-2 desktop:top-10 desktop:left-5">
			<p>emilie_skjoldann@outlook.dk</p>
		<p class="tablet:mt-2 tablet:mb-2">+45 3062 4755</p>
		<p class="underline">LinkedIn</p>
		</div>
		<h1  class="text-[#1A3660] text-3xl tablet:text-5xl laptop:text-7xl desktop:text-9xl tablet:ml-10 desktop:ml-36 absolute top-44 desktop:top-auto tablet:top-80 laptop:top-auto laptop:bottom-36 desktop:bottom-8 left-2 tablet:left-0 tablet:right-0">Emilie <br /> Skjoldann</h1>
	</section>

<!-- sektion 2 -->
	<section class="bg-[#BFB5AA] p-10 laptop:pt-28 laptop:pb-28">
		<div class="desktop:ml-36 tablet:grid grid-cols-2 tablet:gap-8 desktop:gap-20">
			<div class=" pr-20 desktop:pr-24">
		<h2 class="text-[#E20C1C] text-lg desktop:text-3xl mb-2 desktop:mb-5">Min praktikplads</h2>
<p class="text-[#2D251D] text-sm">I løbet af min uddannelse har jeg udviklet en stærk interesse for både det æstetiske og funktionelle aspekt af webdesign, især inden for UI/UX-design. Jeg tror på vigtigheden af at skabe brugercentrerede digitale oplevelser, der ikke kun er visuelt tiltalende, men også intuitive og effektive.</p>
<p class="text-[#2D251D] text-sm mt-2 desktop:mt-3">Jeg er særligt interesseret i at bruge min praktiktid hos jer til at fordybe mig i arbejdet med at skabe brugervenlige og visuelt imponerende weboplevelser. Jeg ønsker at lære mere om best practices inden for UI/UX-design og deltage aktivt i projekter, hvor jeg kan anvende mine færdigheder til at forbedre brugeroplevelsen og opnå målene for virksomheden.</p>		
</div>
<div>
<h2 class="text-[#E20C1C] text-lg desktop:text-3xl mt-3 tablet:mt-0 desktop:mb-5">Skills</h2>
</div>
		</div>
</section>
	</section>

<!-- sektion 3 -->
	<section class="p-10 laptop:pt-28 laptop:pb-28 desktop:mr-36 desktop:ml-36">
		<h2 class="text-[#E20C1C] text-lg mb-2 desktop:text-3xl desktop:mb-5">Portfolio</h2>
		<div class="desktop:grid grid-cols-2 desktop:gap-10">
		<a href="https://digital-cleanup-day.netlify.app">
			<img src="/digitalcleanup.png" alt="screen shot af digital clean up site">
		</a>
		<a href="https://tbdteam8.netlify.app">
		<img src="/barkingdog.png" alt="screen shot af the barking dog site">
	</a>
	<a href="https://uxcph.netlify.app">
		<img src="uxcph.png" alt="screen shot af ux cph site">
	</a>
	<a href="https://cateam8.netlify.app">
		<img src="ca.png" alt="screen shot af CA site">
	</a>
	</div>
	</section>
</MainLayout>