---
---
<div class="text-[#FBF6EC] font-roboto text-xs p-3 tablet:text-lg flex justify-center gap-16 tablet:gap-20 desktop:gap-96 desktop:p-10">
<p>+45 3062 4755</p>
<a href="https://www.linkedin.com/in/emilie-skjoldann-jørgensen/" target="_blank">
    <p class="underline">LinkedIn</p>
    </a>
<p>emilie_skjoldann@outlook.dk</p>
</div>
  