---
---
<div class="text-[#FBF6EC] text-xs p-3 tablet:text-sm tablet:flex justify-center tablet:gap-20 desktop:gap-96 desktop:p-10">
<p>+45 3062 4755</p>
<p class="underline">LinkedIn</p>
<p>emilie_skjoldann@outlook.dk</p>
</div>
  